<html>
  <head>
    <title>{{title}}</title>
    {{#each _bundle.css}}
      <link rel='stylesheet' href='{{static .}}' />
    {{/each}}
    <link rel='stylesheet' href='{{static "/stylesheets/variable.css"}}' />

  </head>
  <body>
    {{{body}}}
    {{#each _bundle.js}}
    <script src='{{static .}}'></script>
    {{/each}}
  </body>
</html>