<html>

<head>
  <meta charset="utf-8">
  <title>Profile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel='stylesheet' href='{{static /stylesheets/profile.css}}' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
  .group {
    display: flex;
  }

  .header {
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    background: #047683;
    color: #fff;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .navbar {
    background-color: #047683;
  }

  .nav-item {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .navbar-brand {
    margin-left: 20px;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
  }

  .a2 {
    padding: 10px;

  }

  p {
    margin-left: 10px;
    text-align: justify;
  }

  .border {
    border-color: #047683;
  }

  .card-header {
    background: #047683;
    color: white;
    text-align: center;
    justify-content: center;
  }

  .btn-submit {
    width: 200px;
    background-color: #047683;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    float: right;
  }

  .btn-submit:hover {
    background-color: #0097a8;
  }

  .card {
    background-color: #F0F8FF;
    margin-top: 20px;
    margin-left: 100px;
    padding: 0px;
    width: fit-content;
    height: 90%;
    text-align: left;
  }

  .card-body {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;

  }

  input[type='text'],
  input[type='date'],
  input[type='emai'],
  input[type='tel'] input[type='file'] {
    height: 50%;
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .image-wrap {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    margin: 15px;
  }

  .uploader img {
    position: relative;
    width: 302px;
    height: 352px;
  }
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="home.html" style="font-size: 30px;">SVO Airlines</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="home.html"><i class="fa fa-home"></i> Trang chủ</a>
          </li>
          <li class="nav-item aria-current">
            <a class="nav-link" href="search_flight.html"> Chuyến bay</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="history.html">Tra cứu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="login.html"><i class="fa fa-user-o" aria-hidden="true"></i> Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="help.html"> Trợ giúp</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="group">
    <div class="uploader img" id="cc">
      <div class="image-wrap">
        <img src="" id="img" />
      </div>
      <input type="file" name="userprofile_picture" id="filePhoto" />
    </div>
    <div class="range-val"></div>
    <div class="row">
      <div class="a2">
        <div class="card">
          <div class="card-header">
            <h5>THÔNG TIN CÁ NHÂN</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-sm-4">
                  <label for="surname"><b>Họ lót:</b></label>
                  <input type="text" class="form-control" id="surname" value="{{data.firstName}}">
                </div>
                <div class="form-group col-sm-4">
                  <label for="name"><b>Tên:</b></label>
                  <input type="text" class="form-control" id="name" value="{{data.lastName}}">
                </div>
                <div class="form-group col-sm-4">
                  <label for="sex"><b>Giới tính:</b></label>
        <select id="gender" name="gender">
          <option></option>
{{#if data.gender}}
          <option value="1" >Nữ</option>
          <option value="0" selected>Nam</option>
{{else}}
          <option value="1" selected>Nữ</option>
          <option value="0">Nam</option>
{{/if}}
        </select>
                </div>

              </div>

              <div class="form-row">
                <div class="form-group col-sm-4">
                  <label for="dateofbirth"><b>Ngày sinh:</b></label>
                  <input type="date" id="date" name="date" placeholder="dd-mm-yyyy" min="1900-01-01"
                    max="2023-12-31"><br><br>
                </div>
                <div class="form-group col-sm-4">
                  <label for="ID"><b>Số CMND/CCCD:</b></label>
                  <input type="text" class="form-control" id="id">
                </div>
                <div class="form-group col-sm-4">
                  <label for="whereID"><b>Nơi cấp:</b></label>
                  <input type="text" class="form-control" id="whereID">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-sm-4">
                  <label for="nationality"><b>Quốc tịch:</b></label>
                  <input type="text" class="form-control" id="nationality">
                </div>
                <div class="form-group col-sm-4">
                  <label for="religion"><b>Tôn giáo:</b></label>
                  <input type="text" class="form-control" id="religion">
                </div>
                <div class="form-group col-sm-4">
                  <label for="domicile"><b>Nguyên quán:</b></label>
                  <input type="text" class="form-control" id="domicile" value="{{data.address}}">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-4">
                  <label for="numberphone"><b>Số điện thoại:</b></label>
                  <input type="text" class="form-control" id="phonenumber" value="{{data.phone}}">
                </div>
                <div class="form-group col-sm-8">
                  <label for="Email"><b>Email:</b></label>
                  <input type="email" class="form-control" id="email" value="{{data.email}}">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn-submit" id="submitButton">Cập nhật</button>
    </div>
  </div>

  <footer class="bg-dark text-center text-lg-start text-white mt-5">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">về chúng tôi</h6>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="aboutus" class="text-white">Tập đoàn</a>
            </li>
            <li>
              <a href="aboutus" class="text-white">Đội bay</a>
            </li>
            <li>
              <a href="aboutus" class="text-white">Cam kết với khách hàng</a>
            </li>
            <li>
              <a href="aboutus" class="text-white">Các điều kiện và điều khoản</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">Sản phẩm</h6>

          <ul class="list-unstyled">
            <li>
              <i class="fa fa-ticket" aria-hidden="true"></i><a href="search_flight.html" class="text-white"> Vé máy
                bay</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">Đối tác thanh toán</h6>
          <ul class="list-unstyled">
            <li>
              <div>
                VISA
                </a>
            </li>
            <li>
              <div>
                MASTERCARD
              </div>
            </li>
            <li>
              <div>
                MOMO
              </div>
            </li>
            <li>
              <div>
                ZALOPAY
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">liên hệ</h6>
          <ul class="list-unstyled">
            <li>
              <p class="text-white"><i class="fa fa-phone" aria-hidden="true"></i> SĐT: 0909.291.291</p>
            </li>
            <li>
              <p class="text-white"><i class="fa fa-location-arrow" aria-hidden="true"></i> Email: svoairlines@gmail.com
              </p>
            </li>
            <li>
              <p class="text-white"><i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ: Quận 7, TP. Hồ Chí Minh
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="home.html">svoairlines.com.vn</a>
    </div>
  </footer>
  {{!-- <script>
    $(document).ready(function (e) {
      var flag = false;

      $(".cc").click(function () {
        if (flag) {
          $("#filePhoto").click();
        }
      });

      $("#filePhoto").click(function (e) {
        if (flag) {
          e.preventDefault();
        }
      });

      if (e) {
        var imageLoader = document.getElementById("filePhoto");
        imageLoader.addEventListener("change", handleImage, false);
      }

      function handleImage(e) {
        var reader = new FileReader();
        reader.onload = function (event) {
          $(".uploader img").attr("src", event.target.result);
        };

        reader.readAsDataURL(e.target.files[0]);

        reader.onloadend = function (event) {
          $(".uploader").after("");
          flag = true;
        };
      }
      $("#img").draggable();
    });
  </script> --}}
  <script src="/javascripts/profile.js"></script>
</body>

</html>