<html>

<head>
  <meta charset="utf-8">
  <title>Profile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel='stylesheet' href='{{static /stylesheets/profile.css}}' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
  .group {
    display: flex;
  }

  .header {
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    background: #047683;
    color: #fff;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .navbar {
    background-color: #047683;
  }

  .nav-item {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .navbar-brand {
    margin-left: 20px;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
  }

  .a2 {
    padding: 10px;

  }

  p {
    margin-left: 10px;
    text-align: justify;
  }

  .border {
    border-color: #047683;
  }

  .card-header {
    background: #047683;
    color: white;
    text-align: center;
    justify-content: center;
  }

  .btn-submit {
    width: 200px;
    background-color: #047683;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    float: right;
  }

  .btn-submit:hover {
    background-color: #0097a8;
  }

  .card {
    background-color: #F0F8FF;
    margin-top: 20px;
    margin-left: 100px;
    padding: 0px;
    width: fit-content;
    height: 90%;
    text-align: left;
  }

  .card-body {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;

  }

  input[type='text'],
  input[type='date'],
  input[type='emai'],
  input[type='tel'] input[type='file'] {
    height: 50%;
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .image-wrap {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    margin: 15px;
  }

  .uploader img {
    position: relative;
    width: 302px;
    height: 352px;
  }
</style>

<body>
  <div class="group">
    <div class="range-val"></div>
    <div class="row">
      <div class="a2">
        <div class="card">
          <div class="card-header">
            <h5>THÔNG TIN CÁ NHÂN</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-sm-4">
                  <label for="surname"><b>Họ lót:</b></label>
                  <input type="text" class="form-control" id="surname" value="{{data.firstName}}">
                </div>
                <div class="form-group col-sm-4">
                  <label for="name"><b>Tên:</b></label>
                  <input type="text" class="form-control" id="name" value="{{data.lastName}}">
                </div>
                <div class="form-group col-sm-4">
                  <label for="sex"><b>Giới tính:</b></label>
                  <select id="gender" name="gender">
                    <option></option>
                    {{#if data.gender}}
                    <option value="1">Nữ</option>
                    <option value="0" selected>Nam</option>
                    {{else}}
                    <option value="1" selected>Nữ</option>
                    <option value="0">Nam</option>
                    {{/if}}
                  </select>
                </div>

              </div>

              <div class="form-row">
                <div class="form-group col-sm-4">
                  <label for="dateofbirth"><b>Ngày sinh:</b></label>
                  <input type="date" id="date" name="date" placeholder="dd-mm-yyyy" min="1900-01-01"
                    max="2023-12-31"><br><br>
                </div>
                <div class="form-group col-sm-4">
                  <label for="ID"><b>Số CMND/CCCD:</b></label>
                  <input type="text" class="form-control" id="id">
                </div>
                <div class="form-group col-sm-4">
                  <label for="whereID"><b>Nơi cấp:</b></label>
                  <input type="text" class="form-control" id="whereID">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-sm-4">
                  <label for="nationality"><b>Quốc tịch:</b></label>
                  <input type="text" class="form-control" id="nationality">
                </div>
                <div class="form-group col-sm-4">
                  <label for="religion"><b>Tôn giáo:</b></label>
                  <input type="text" class="form-control" id="religion">
                </div>
                <div class="form-group col-sm-4">
                  <label for="domicile"><b>Nguyên quán:</b></label>
                  <input type="text" class="form-control" id="domicile" value="{{data.address}}">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-4">
                  <label for="numberphone"><b>Số điện thoại:</b></label>
                  <input type="text" class="form-control" id="phonenumber" value="{{data.phone}}">
                </div>
                <div class="form-group col-sm-8">
                  <label for="Email"><b>Email:</b></label>
                  <input type="email" class="form-control" id="email" value="{{data.email}}">
                </div>
              </div>
              <button type="button" style="background-color:#047683; color:#fff" class="btn" data-bs-toggle="modal" data-bs-target="#passwordModal">
                Đổi mật khẩu
              </button>
            </form>
          </div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn-submit" id="submitButton">Cập nhật</button>
    </div>
  </div>

  <!-- Dialog đổi mật khẩu -->
  <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordModalLabel">Đổi mật khẩu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="currentPassword" class="form-label">Mật khẩu hiện tại</label>
              <input type="password" class="form-control" id="currentPassword">
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">Mật khẩu mới</label>
              <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
              <input type="password" class="form-control" id="confirmPassword">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" id="savePassword">Lưu</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascripts/profile.js"></script>
</body>

</html>